## Python Basic

In [2]:
a = 3
b = 2
a + b

5

## GET

In [3]:
import requests
res = requests.get('https://www.mobile01.com/topiclist.php?f=18')
res

In [4]:
res.text

'<!doctype html><meta charset="utf-8"><meta name=viewport content="width=device-width, initial-scale=1"><title>404</title>404 Not Found'

In [5]:
headers = {
   'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}
import requests
res = requests.get('https://www.mobile01.com/topiclist.php?f=18', headers = headers)
res

In [7]:
#res.text

In [ ]:
headers = {
   'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}
import requests
res = requests.get('https://www.mobile01.com/topiclist.php?f=18', headers = headers, verify = False)
res

## 練習題
- https://iphone-eshop.cdn.hinet.net/Next.html

In [8]:
import requests
res = requests.get('https://iphone-eshop.cdn.hinet.net/Next.html')
res

In [10]:
res.encoding

'ISO-8859-1'

In [11]:
res.encoding = 'utf-8'

In [13]:
#res.text

In [14]:
import requests
res = requests.get('https://www.largitdata.com')
res

In [15]:
import requests
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}
res = requests.get('https://www.largitdata.com', headers = headers)
res

In [16]:
import requests
headers = {'user-agent': 'I Love LargitData' 
}
res = requests.get('https://www.largitdata.com', headers = headers)
res

In [17]:
headers = {
   'user-agent': 'I Love Mobile01' 
}
import requests
res = requests.get('https://www.mobile01.com/topiclist.php?f=18', headers = headers)
res

In [19]:
#res.text

## PCHOME

In [21]:
import requests
res = requests.get('https://24h.pchome.com.tw/prod/DGBJBH-19009M7WS?fq=/S/DGBJII')
#res.text

## POST

In [22]:
import requests
url = 'https://www.thsrc.com.tw/TimeTable/Search'
payload = {
'SearchType': 'S',
'Lang': 'TW',
'StartStation': 'TaiPei',
'EndStation': 'XinZhu',
'OutWardSearchDate': '2020/10/16',
'OutWardSearchTime': '18:00',
'ReturnSearchDate': '2020/10/16',
'ReturnSearchTime': '11:00'
}
res = requests.post(url, data = payload, verify=False )

/Users/davidchiu/.pyenv/versions/3.7.3/lib/python3.7/site-packages/urllib3/connectionpool.py:986: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.thsrc.com.tw'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [23]:
res

In [26]:
jd = res.json()

## 練習題
請告訴我如果要存取 109年/10月/12日 的通訊網路業的資料，請問我該是使用GET 或是POST 那我又應該存取哪個連結?
- https://www.twse.com.tw/zh/page/trading/exchange/MI_INDEX.html

In [27]:
import requests
res = requests.get('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date=20201012&type=27&_=1602819572692')
res

In [35]:
type(res)

requests.models.Response

In [29]:
#res.text

In [31]:
jd = res.json()

## BeautifulSoup

<html> 
 <body> 
 <h1 id="title">Hello World</h1> 
 <a href="#" class="link">This is link1</a> 
 <a href="# link2" class="link">This is link2</a> 
 </body> 
 </html>

In [32]:
from bs4 import BeautifulSoup

html_sample = ''' 
<html> 
 <body> 
 <h1 id="title">Hello World</h1> 
 <a href="#" class="link">This is link1</a> 
 <a href="# link2" class="link">This is link2</a> 
 </body> 
 </html>'''

soup = BeautifulSoup(html_sample, 'lxml')

In [34]:
type(soup)

bs4.BeautifulSoup

In [33]:
print(soup.text)

Hello World
This is link1
This is link2

In [36]:
soup.select_one('h1')

In [37]:
soup.select_one('h1').text

'Hello World'

In [38]:
soup.select_one('a')

In [39]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [40]:
alink = soup.select('a')

In [41]:
alink[0]

In [42]:
alink[0].text

'This is link1'

In [43]:
alink[1]

In [44]:
alink[1].text

'This is link2'

In [46]:
for link in alink:
    #print(link)
    print(link.text)

This is link1
This is link2

In [47]:
# id => #
soup.select_one('#title')

In [48]:
soup.select_one('h1#title')

In [49]:
soup.select_one('body #title')

In [50]:
soup.select_one('body > #title')

## CSS
- https://www.w3schools.com/css/

In [51]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [52]:
# class => . 
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [53]:
soup.select('a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [54]:
soup.select('body a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [55]:
soup.select('body > a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [56]:
for link in soup.select('a'):
    print(link.text)

This is link1
This is link2

In [57]:
for link in soup.select('a'):
    print(link.get('href'))

#
# link2

## Mobile01 基本爬蟲

In [59]:
import requests
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36'}
res = requests.get('https://www.mobile01.com/topiclist.php?f=18', headers = headers, verify = False)
res

/Users/davidchiu/.pyenv/versions/3.7.3/lib/python3.7/site-packages/urllib3/connectionpool.py:986: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.mobile01.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [61]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [62]:
soup.select_one('h1.t1')

In [63]:
soup.select_one('h1.t1').text

'電信業者與資費'

In [64]:
'''
<a href="topicdetail.php?f=18&amp;t=6212622" class="c-link u-ellipsis">今年的 5G iphone 亞太的 5G mmwave 無法使用了⋯⋯😭</a>
'''

'\n<a href="topicdetail.php?f=18&amp;t=6212622" class="c-link u-ellipsis">今年的 5G iphone 亞太的 5G mmwave 無法使用了⋯⋯😭</a>\n'

In [66]:
for a in soup.select('a.c-link.u-ellipsis'):
    print(a.text)

我被台灣之星陰了嗎，喬好免違約金解約，但最後一期出帳卻多了3000
necomata
riklin
[消失的收據] 幫備份：這版有人被告公然侮辱了。開放登記免費雞排50份
美酒斗十千
01010100101
今年的 5G iphone 亞太的 5G mmwave 無法使用了⋯⋯😭
法客
Ayumi_2004
連手機熱點的設備能跑到100M嗎
樂觀樂觀
melody520520
台哥大預付卡也是會自動延長的
Elvis-EVO
melody520520
【分享】所以哪個通路買iPhone12卡便宜?
蒂理珍妮
melody520520
4G的SIM卡用在3G的手機上可以通話及上網嗎?
台灣NO1加油
陌生的路
有人會想辦嗎?台星599真不值，辦了會被笑吧?
真的很抱歉
yesstem22
亞太電信 10/22 將宣佈 5G 正式開台
Arthur0224
Arthur0224
<已解決>請問：不會打電話、上網，單純收認證簡訊用，目前哪種最便宜？
nwcs
chiou52
5G時代來臨 wifi怎麼辦
ally870506
Auroras777
台灣大哥大 優惠方案(攜碼)
紫夏嵐
star89095
亞太這麼早就在衝1111了😳
法客
ty0918
大家都還再等雙11優惠？
小鬼☆
陳鎧元
現在中華4G 699退傭 最高還可以退多少
python95613
十月秋天
中華電信母親節方案499即將到期,請問到期的朋友有找到代替方案了嗎?
obicome
bob0123
中華 VS 遠傳 Speedtest PK
LeeFred
哀鳳十
中華電信預付卡未儲值被停掉變空號疑問
時尚的芭樂
時尚的芭樂
QQ帳號真的難申請(2019/9/19~09/25已解決)
luck100joy
next12345
亞太新朋友資費
若含哥哥
125475368
台灣之星店員說 2020 不會有雙11優惠4G方案
mobile2009
咖啡只加糖
台星iPhone 12預約優惠 AirPods Pro半價
glenn209
W1025
台哥大299吃到飽留客方案!
阿智1517
JAIN1975
電信門號退租，員工扣業績？
空巴A380
rtype13
台灣會跟進韓國退掉5G網路,回頭使用4G網路的風潮嗎？
龜軟趴火
Tom_Deng
神奇的遠傳活動簡訊
試用門號辦的試用帳號
grason00
期待699月租零元i12
in30000
cwc
亞太期間限定88資費
愛豬椅喔
nwcs
遠傳5G熱點分享2000G????
konnia
konnia
亞太11又出現了
dys289
KOBE24LAKERS

In [67]:
for a in soup.select('.c-listTableTd__title a.c-link.u-ellipsis'):
    print(a.text)

我被台灣之星陰了嗎，喬好免違約金解約，但最後一期出帳卻多了3000
[消失的收據] 幫備份：這版有人被告公然侮辱了。開放登記免費雞排50份
今年的 5G iphone 亞太的 5G mmwave 無法使用了⋯⋯😭
連手機熱點的設備能跑到100M嗎
台哥大預付卡也是會自動延長的
【分享】所以哪個通路買iPhone12卡便宜?
4G的SIM卡用在3G的手機上可以通話及上網嗎?
有人會想辦嗎?台星599真不值，辦了會被笑吧?
亞太電信 10/22 將宣佈 5G 正式開台
<已解決>請問：不會打電話、上網，單純收認證簡訊用，目前哪種最便宜？
5G時代來臨 wifi怎麼辦
台灣大哥大 優惠方案(攜碼)
亞太這麼早就在衝1111了😳
大家都還再等雙11優惠？
現在中華4G 699退傭 最高還可以退多少
中華電信母親節方案499即將到期,請問到期的朋友有找到代替方案了嗎?
中華 VS 遠傳 Speedtest PK
中華電信預付卡未儲值被停掉變空號疑問
QQ帳號真的難申請(2019/9/19~09/25已解決)
亞太新朋友資費
台灣之星店員說 2020 不會有雙11優惠4G方案
台星iPhone 12預約優惠 AirPods Pro半價
台哥大299吃到飽留客方案!
電信門號退租，員工扣業績？
台灣會跟進韓國退掉5G網路,回頭使用4G網路的風潮嗎？
神奇的遠傳活動簡訊
期待699月租零元i12
亞太期間限定88資費
遠傳5G熱點分享2000G????
亞太11又出現了

In [68]:
soup.select_one('.t1')

In [69]:
soup.select_one('.t1').text

'電信業者與資費'

In [70]:
for link in soup.select('.c-listTableTd__title .u-ellipsis'):
    print(link.text)

我被台灣之星陰了嗎，喬好免違約金解約，但最後一期出帳卻多了3000
[消失的收據] 幫備份：這版有人被告公然侮辱了。開放登記免費雞排50份
今年的 5G iphone 亞太的 5G mmwave 無法使用了⋯⋯😭
連手機熱點的設備能跑到100M嗎
台哥大預付卡也是會自動延長的
【分享】所以哪個通路買iPhone12卡便宜?
4G的SIM卡用在3G的手機上可以通話及上網嗎?
有人會想辦嗎?台星599真不值，辦了會被笑吧?
亞太電信 10/22 將宣佈 5G 正式開台
<已解決>請問：不會打電話、上網，單純收認證簡訊用，目前哪種最便宜？
5G時代來臨 wifi怎麼辦
台灣大哥大 優惠方案(攜碼)
亞太這麼早就在衝1111了😳
大家都還再等雙11優惠？
現在中華4G 699退傭 最高還可以退多少
中華電信母親節方案499即將到期,請問到期的朋友有找到代替方案了嗎?
中華 VS 遠傳 Speedtest PK
中華電信預付卡未儲值被停掉變空號疑問
QQ帳號真的難申請(2019/9/19~09/25已解決)
亞太新朋友資費
台灣之星店員說 2020 不會有雙11優惠4G方案
台星iPhone 12預約優惠 AirPods Pro半價
台哥大299吃到飽留客方案!
電信門號退租，員工扣業績？
台灣會跟進韓國退掉5G網路,回頭使用4G網路的風潮嗎？
神奇的遠傳活動簡訊
期待699月租零元i12
亞太期間限定88資費
遠傳5G熱點分享2000G????
亞太11又出現了

In [71]:
for a in soup.select('.o-fMini'):
    print(a.text)

10
193
25
13
12
4
19
2
0
26
5
458
32
9
7
38
5
16
120
34
86
10
737
32
24
7
4
26
0
170

## 練習題
- https://www.sogi.com.tw/article_categories/%E7%94%A2%E6%A5%AD%E5%8B%95%E6%85%8B/206

In [72]:
import requests
res = requests.get('https://www.sogi.com.tw/article_categories/%E7%94%A2%E6%A5%AD%E5%8B%95%E6%85%8B/206')
res

In [73]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [74]:
soup.select('a.text-black.font-weight-bold.text-row-2')

[<a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="最新_6月手機排行iPhone SE最熱銷 vivo首次擠進台灣前4大" href="/articles/apple_iphone_se/6255204">
             6月手機排行iPhone SE最熱銷 vivo首次擠進台灣前4大
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="最新_台灣4月手機銷售量創新低 iPhone SE上市熱銷" href="/articles/apple_iphone_se_2/6254939">
             台灣4月手機銷售量創新低 iPhone SE上市熱銷
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="最新_Sony公布第一季手機銷量 全球出貨僅40萬台" href="/articles/sony_mobile/6254906">
             Sony公布第一季手機銷量 全球出貨僅40萬台
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="熱門_蘋果5G手機iPhone 12與12 Pro系列 10/23起陸續上市" href="/articles/apple_iphone_12_pro_max/6255522">
             蘋果5G手機iPhone 12與12 Pro系列 10/23起陸續上市
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="熱門_三星A42 5G平價手機規格公布 6.6吋螢幕搭配5千電量" href="/articles/samsung_galaxy_a42_5g/6255516">
             三星A42 5G平價手機規格公布 6.6吋螢幕搭配5千電量
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="熱門_新iPhone變貴還是便宜？談i11與i12前後代價格比較" href="/articles/apple_iphone_12/6255523">
             新iPhone變貴還是便宜？談i11與i12前後代價格比較
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="推薦_高質感商務旗艦筆電 HUAWEI MateBook X Pro開箱體驗" href="/articles/huawei_matebook_x_pro/6255505">
             高質感商務旗艦筆電 HUAWEI MateBook X Pro開箱體驗
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="推薦_5G手機不再貴桑桑！高CP值vivo X50e開箱體驗" href="/articles/vivo_x50e/6255521">
             5G手機不再貴桑桑！高CP值vivo X50e開箱體驗
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="推薦_正港MIT台灣製造 HTC U20 5G大螢幕手機體驗" href="/articles/htc_u20_5g/6255503">
             正港MIT台灣製造 HTC U20 5G大螢幕手機體驗
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="全部_受NCC事件與肺炎疫情影響 4月台灣恐無新手機上市" href="/articles/smartphone/6254688">
             受NCC事件與肺炎疫情影響 4月台灣恐無新手機上市
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="全部_台灣2月手機銷量僅50萬部 A51蟬聯熱銷中階機" href="/articles/samsung_a51_a71/6254631">
             台灣2月手機銷量僅50萬部 A51蟬聯熱銷中階機
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="全部_台灣1月手機銷售排行 Redmi與realme表現逆勢成長" href="/articles/redmi_realme/6254454">
             台灣1月手機銷售排行 Redmi與realme表現逆勢成長
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="全部_蘋果受武漢肺炎與中國市場影響 Q2營收恐無法達標" href="/articles/apple_iphone/6254443">
             蘋果受武漢肺炎與中國市場影響 Q2營收恐無法達標
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="全部_武漢肺炎疫情、廠商撤展影響 MWC世界通訊展停辦" href="/articles/gsma_mwc_2020/6254406">
             武漢肺炎疫情、廠商撤展影響 MWC世界通訊展停辦
 </a>,
 <a class="text-black font-weight-bold text-row-2" gaactionclick="click" gacatagory="新聞分類頁_產業動態" galabel="全部_iPhone 11手機熱銷 帶動蘋果2020第一季營收創新高" href="/articles/apple_iphone_11/6254336">
             iPhone 11手機熱銷 帶動蘋果2020第一季營收創新高
 </a>]

In [76]:
for row in soup.select('.text-row-2'):
    print(row.text.strip())

6月手機排行iPhone SE最熱銷 vivo首次擠進台灣前4大
台灣4月手機銷售量創新低 iPhone SE上市熱銷
Sony公布第一季手機銷量 全球出貨僅40萬台
蘋果5G手機iPhone 12與12 Pro系列 10/23起陸續上市
三星A42 5G平價手機規格公布 6.6吋螢幕搭配5千電量
新iPhone變貴還是便宜？談i11與i12前後代價格比較
高質感商務旗艦筆電 HUAWEI MateBook X Pro開箱體驗
5G手機不再貴桑桑！高CP值vivo X50e開箱體驗
正港MIT台灣製造 HTC U20 5G大螢幕手機體驗
受NCC事件與肺炎疫情影響 4月台灣恐無新手機上市
台灣2月手機銷量僅50萬部 A51蟬聯熱銷中階機
台灣1月手機銷售排行 Redmi與realme表現逆勢成長
蘋果受武漢肺炎與中國市場影響 Q2營收恐無法達標
武漢肺炎疫情、廠商撤展影響 MWC世界通訊展停辦
iPhone 11手機熱銷 帶動蘋果2020第一季營收創新高

## Mobile01 列表爬蟲

In [78]:
import requests
headers = {
   'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}
res = requests.get('https://www.mobile01.com/topiclist.php?f=18', headers = headers, verify=False)
res

/Users/davidchiu/.pyenv/versions/3.7.3/lib/python3.7/site-packages/urllib3/connectionpool.py:986: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.mobile01.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [80]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text,'lxml')

<table>
    <tr><td>c1</td><td>c2</td></tr>
    <tr><td>v1</td><td>v2</td></tr>
    <tr><td>a1</td><td>a2</td></tr>
    
</table>

In [87]:
a = 3
if a > 2:
    print('yes')
    
if a:
    print('yes')
    
if None:
    print('None')

yes
yes

In [95]:
domain = 'https://www.mobile01.com/'
for tr in soup.select('.l-listTable__tr'):
    if tr.select_one('.c-listTableTd__title a'):
        #print(tr)
        link = domain + tr.select_one('.c-listTableTd__title a').get('href')
        title = tr.select_one('.c-listTableTd__title a').text
        cnt = tr.select_one('.o-fMini').text
        print(title, link, cnt)
        print('===============================')

[消失的收據] 幫備份：這版有人被告公然侮辱了。開放登記免費雞排50份 https://www.mobile01.com/topicdetail.php?f=18&t=6186791 195
===============================
大家都還再等雙11優惠？ https://www.mobile01.com/topicdetail.php?f=18&t=6214059 10
===============================
台哥大299吃到飽留客方案! https://www.mobile01.com/topicdetail.php?f=18&t=5797944 739
===============================
亞太電信5G記者會：10/22登場 https://www.mobile01.com/topicdetail.php?f=18&t=6214472 4
===============================
1111 三大的5G 599應該會下殺到499吧! https://www.mobile01.com/topicdetail.php?f=18&t=6207634 17
===============================
中華 VS 遠傳 Speedtest PK https://www.mobile01.com/topicdetail.php?f=18&t=6213586 6
===============================
【分享】所以哪個通路買iPhone12卡便宜? https://www.mobile01.com/topicdetail.php?f=18&t=6213908 5
===============================
台哥大預付卡也是會自動延長的 https://www.mobile01.com/topicdetail.php?f=18&t=5870149 14
===============================
我被台灣之星陰了嗎，喬好免違約金解約，但最後一期出帳卻多了3000 https://www.mobile01.com/topicdetail.php?f=18&t=6214113 11
===============================
遠傳iPhone 12資費出爐 月租999起跳 https://www.mobile01.com/topicdetail.php?f=18&t=6214458 2
===============================
電信門號退租，員工扣業績？ https://www.mobile01.com/topicdetail.php?f=18&t=6210195 33
===============================
亞太5G終於要開台! https://www.mobile01.com/topicdetail.php?f=18&t=6214462 1
===============================
今年的 5G iphone 亞太的 5G mmwave 無法使用了⋯⋯😭 https://www.mobile01.com/topicdetail.php?f=18&t=6212622 25
===============================
連手機熱點的設備能跑到100M嗎 https://www.mobile01.com/topicdetail.php?f=18&t=6208626 13
===============================
4G的SIM卡用在3G的手機上可以通話及上網嗎? https://www.mobile01.com/topicdetail.php?f=18&t=3938052 19
===============================
有人會想辦嗎?台星599真不值，辦了會被笑吧? https://www.mobile01.com/topicdetail.php?f=18&t=6214172 2
===============================
亞太電信 10/22 將宣佈 5G 正式開台 https://www.mobile01.com/topicdetail.php?f=18&t=6214415 0
===============================
<已解決>請問：不會打電話、上網，單純收認證簡訊用，目前哪種最便宜？ https://www.mobile01.com/topicdetail.php?f=18&t=6213680 26
===============================
5G時代來臨 wifi怎麼辦 https://www.mobile01.com/topicdetail.php?f=18&t=6213775 5
===============================
台灣大哥大 優惠方案(攜碼) https://www.mobile01.com/topicdetail.php?f=18&t=5799167 458
===============================
亞太這麼早就在衝1111了😳 https://www.mobile01.com/topicdetail.php?f=18&t=6213674 32
===============================
現在中華4G 699退傭 最高還可以退多少 https://www.mobile01.com/topicdetail.php?f=18&t=6206774 7
===============================
中華電信母親節方案499即將到期,請問到期的朋友有找到代替方案了嗎? https://www.mobile01.com/topicdetail.php?f=18&t=6212751 38
===============================
中華電信預付卡未儲值被停掉變空號疑問 https://www.mobile01.com/topicdetail.php?f=18&t=6211193 16
===============================
QQ帳號真的難申請(2019/9/19~09/25已解決) https://www.mobile01.com/topicdetail.php?f=18&t=5904439 120
===============================
亞太新朋友資費 https://www.mobile01.com/topicdetail.php?f=18&t=6211959 34
===============================
台灣之星店員說 2020 不會有雙11優惠4G方案 https://www.mobile01.com/topicdetail.php?f=18&t=6208135 86
===============================
台星iPhone 12預約優惠 AirPods Pro半價 https://www.mobile01.com/topicdetail.php?f=18&t=6213041 10
===============================
台灣會跟進韓國退掉5G網路,回頭使用4G網路的風潮嗎？ https://www.mobile01.com/topicdetail.php?f=18&t=6210861 23
===============================
神奇的遠傳活動簡訊 https://www.mobile01.com/topicdetail.php?f=18&t=6212468 7
===============================

## 練習題
- 請協助我抓取發布作者與時間？

In [104]:
domain = 'https://www.mobile01.com/'
for tr in soup.select('.l-listTable__tr'):
    if tr.select_one('.c-listTableTd__title a'):
        link = domain + tr.select_one('.c-listTableTd__title a').get('href')
        title = tr.select_one('.c-listTableTd__title a').text
        cnt = tr.select_one('.o-fMini').text
        td = tr.select('.l-listTable__td.l-listTable__td--time')
        author = td[0].select_one('a').text
        dt = td[0].select_one('.o-fNotes').text
        print(title, author, dt, link, cnt)
        print('===============================')

[消失的收據] 幫備份：這版有人被告公然侮辱了。開放登記免費雞排50份 美酒斗十千 2020-09-10 8:53 https://www.mobile01.com/topicdetail.php?f=18&t=6186791 195
===============================
大家都還再等雙11優惠？ 小鬼☆ 2020-10-15 20:53 https://www.mobile01.com/topicdetail.php?f=18&t=6214059 10
===============================
台哥大299吃到飽留客方案! 阿智1517 2019-05-20 13:38 https://www.mobile01.com/topicdetail.php?f=18&t=5797944 739
===============================
亞太電信5G記者會：10/22登場 瑪姬* 2020-10-16 12:48 https://www.mobile01.com/topicdetail.php?f=18&t=6214472 4
===============================
1111 三大的5G 599應該會下殺到499吧! 125475368 2020-10-06 18:32 https://www.mobile01.com/topicdetail.php?f=18&t=6207634 17
===============================
中華 VS 遠傳 Speedtest PK LeeFred 2020-10-15 10:46 https://www.mobile01.com/topicdetail.php?f=18&t=6213586 6
===============================
【分享】所以哪個通路買iPhone12卡便宜? 蒂理珍妮 2020-10-15 16:40 https://www.mobile01.com/topicdetail.php?f=18&t=6213908 5
===============================
台哥大預付卡也是會自動延長的 Elvis-EVO 2019-08-13 17:15 https://www.mobile01.com/topicdetail.php?f=18&t=5870149 14
===============================
我被台灣之星陰了嗎，喬好免違約金解約，但最後一期出帳卻多了3000 necomata 2020-10-15 22:02 https://www.mobile01.com/topicdetail.php?f=18&t=6214113 11
===============================
遠傳iPhone 12資費出爐 月租999起跳 ElterRun 2020-10-16 12:27 https://www.mobile01.com/topicdetail.php?f=18&t=6214458 2
===============================
電信門號退租，員工扣業績？ 空巴A380 2020-10-10 16:06 https://www.mobile01.com/topicdetail.php?f=18&t=6210195 33
===============================
亞太5G終於要開台! braved 2020-10-16 12:31 https://www.mobile01.com/topicdetail.php?f=18&t=6214462 1
===============================
今年的 5G iphone 亞太的 5G mmwave 無法使用了⋯⋯😭 法客 2020-10-14 3:15 https://www.mobile01.com/topicdetail.php?f=18&t=6212622 25
===============================
連手機熱點的設備能跑到100M嗎 樂觀樂觀 2020-10-08 1:00 https://www.mobile01.com/topicdetail.php?f=18&t=6208626 13
===============================
4G的SIM卡用在3G的手機上可以通話及上網嗎? 台灣NO1加油 2014-06-06 16:01 https://www.mobile01.com/topicdetail.php?f=18&t=3938052 19
===============================
有人會想辦嗎?台星599真不值，辦了會被笑吧? 真的很抱歉 2020-10-16 0:14 https://www.mobile01.com/topicdetail.php?f=18&t=6214172 2
===============================
亞太電信 10/22 將宣佈 5G 正式開台 Arthur0224 2020-10-16 11:00 https://www.mobile01.com/topicdetail.php?f=18&t=6214415 0
===============================
<已解決>請問：不會打電話、上網，單純收認證簡訊用，目前哪種最便宜？ nwcs 2020-10-15 12:01 https://www.mobile01.com/topicdetail.php?f=18&t=6213680 26
===============================
5G時代來臨 wifi怎麼辦 ally870506 2020-10-15 13:57 https://www.mobile01.com/topicdetail.php?f=18&t=6213775 5
===============================
台灣大哥大 優惠方案(攜碼) 紫夏嵐 2019-05-21 19:42 https://www.mobile01.com/topicdetail.php?f=18&t=5799167 458
===============================
亞太這麼早就在衝1111了😳 法客 2020-10-15 11:57 https://www.mobile01.com/topicdetail.php?f=18&t=6213674 32
===============================
現在中華4G 699退傭 最高還可以退多少 python95613 2020-10-05 22:13 https://www.mobile01.com/topicdetail.php?f=18&t=6206774 7
===============================
中華電信母親節方案499即將到期,請問到期的朋友有找到代替方案了嗎? obicome 2020-10-14 10:19 https://www.mobile01.com/topicdetail.php?f=18&t=6212751 38
===============================
中華電信預付卡未儲值被停掉變空號疑問 時尚的芭樂 2020-10-12 10:41 https://www.mobile01.com/topicdetail.php?f=18&t=6211193 16
===============================
QQ帳號真的難申請(2019/9/19~09/25已解決) luck100joy 2019-09-19 19:47 https://www.mobile01.com/topicdetail.php?f=18&t=5904439 120
===============================
亞太新朋友資費 若含哥哥 2020-10-13 10:28 https://www.mobile01.com/topicdetail.php?f=18&t=6211959 34
===============================
台灣之星店員說 2020 不會有雙11優惠4G方案 mobile2009 2020-10-07 11:49 https://www.mobile01.com/topicdetail.php?f=18&t=6208135 86
===============================
台星iPhone 12預約優惠 AirPods Pro半價 glenn209 2020-10-14 16:25 https://www.mobile01.com/topicdetail.php?f=18&t=6213041 10
===============================
台灣會跟進韓國退掉5G網路,回頭使用4G網路的風潮嗎？ 龜軟趴火 2020-10-11 20:52 https://www.mobile01.com/topicdetail.php?f=18&t=6210861 23
===============================
神奇的遠傳活動簡訊 試用門號辦的試用帳號 2020-10-13 21:31 https://www.mobile01.com/topicdetail.php?f=18&t=6212468 7
===============================

## 抓取內文資訊

In [107]:
import requests
headers = {
   'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}
res = requests.get('https://www.mobile01.com/topicdetail.php?f=18&t=5797944', headers = headers)
#res.text

In [118]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [110]:
soup.select_one('.l-docking__title .t2').text

'台哥大299吃到飽留客方案!'

In [133]:
for comments in soup.select('.l-articlePage'):
    #print(comments)
    article = comments.select_one('article').text.strip()
    author = comments.select_one('.c-authorInfo__id .u-ellipsis').text.strip()
    dt = comments.select_one('.o-fNotes.o-fSubMini').text.strip()
    #if comments.select_one('article'):
    #    print(comments.select_one('article').text)
    print(author, article, dt)
    print('===================================')

阿智1517 原本是用台哥大499 2年合約

合約到期日只剩一個禮拜! 本來想這陣子NP去中華

後來剛剛接到台哥大來電 說今天是520特殊節日 用299就可以上網吃到飽



299網速無限速 網內通話前5分鐘免費 網外送30分鐘 市話沒送要另計費

合約綁一年! 2019-05-20 13:38
===================================
navy95 啥?獲利王想開了? 上週電消都在324-349之間
看來台星299有殺到一些吧 語音也送的夠多
搶先不常打市話到可行 2019-05-20 13:46
===================================
jackc3697 也接到了，是原本499，每個月補貼200變299，只有1年約!! 2019-05-20 13:48
===================================
cust123456789 1小時前也接到電話...
我是同意讓他綁一年啦.... 2019-05-20 14:02
===================================
sixcash 我也接到了,還有3個月2年約合約才到期,原本499吃到飽,
可以提早續約299 綁約一年,之後回到原本的499的約,
真的蠻多不錯的,考慮之後立馬回電續約
沒接到電話的可以等等看,如果不在名單內,要到電話撥進去一樣會跟你說沒有這個方案,
在名單內的打188進去,客服對完基本資料後,說要找剛撥電話給我299續約的小姐,
因為我要問一些保約多久的問題,客服很有警覺心救回我說,他不清楚現在299方案的內容是甚麼,
我請剛哪位小姐回電給你,

所以別再私訊問有沒有哪個小姐的電話分機了...@@
不過有請他幫老婆一樣499跟主管爭取一下,老婆不在299名單內 2019-05-20 14:04
===================================
橘菓子 剛問台哥大客服說目前沒收到相關促銷訊息

請問各位可提供電銷人員的電話嗎 2019-05-20 14:08
===================================
Shirley599 橘菓子 wrote:
剛問台哥大客服說目...(恕刪)


我是今天攜碼台哥大299
網內免費，4G飆速12G傳輸量免費，
再送網外60分鐘+市話60分鐘。
24個月

電銷有留電話給我，有需要的可私訊 2019-05-20 14:42
===================================
junhechen02 挖靠 以前都299+399
現在直接299
這麼競爭阿 2019-05-20 14:48
===================================
cheb0411 sixcash wrote:
我也接到了,還有3個...(恕刪)


我是還有5個月，早上也接到電話蠻意外的
反而我太太還有10天約到，我請對方一起綁，她說要請示主管
據說此方案今天是第一天上路，而且不是隨便給的樣子(客服說詞)

先前我太太是一直接到客服的電話是原條件繼續續約(398，限速21M吃到飽)
我們還在觀望母親節檔期，所以一直沒有答應~

想到要留老客戶，終於想通了
不然我們是打算給退傭名店做業績去了~ 2019-05-20 14:56
===================================
tangbaby 今天也續約成功299網速無限速 網內通話前5分鐘免費 網外送30分鐘 市話沒送要另計費

合約綁一年!.


原約999路過 2019-05-20 15:07
===================================

In [ ]:
https://www.mobile01.com/topicdetail.php?f=18&t=5797944
https://www.mobile01.com/topicdetail.php?f=18&t=5797944&p=2

In [140]:
last_page = int(soup.select('.l-navigation__item--min .c-pagination')[-1].text)

In [165]:
from bs4 import BeautifulSoup
headers = {
   'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}

def getPageComments(pageurl, title ,page):

    res = requests.get(pageurl + '&p={}'.format(page), headers = headers)

    soup = BeautifulSoup(res.text, 'lxml')
    comments_ary = []
    for comment in soup.select('.l-articlePage'):
        # 如果該篇文章存在
        if comment.select_one('.c-authorInfo__id a'):
            dic = {}
            dic['title'] = title
            dic['author']= comment.select_one('.c-authorInfo__id a').text.strip()
            dic['dt']    = comment.select_one('.o-fNotes.o-fSubMini').text
            dic['comment']= comment.select_one('article').text.strip()
            # 新增評論
            comments_ary.append(dic)
    return comments_ary

In [166]:
title = soup.select_one('.l-docking__title .t2').text

In [167]:
comments = getPageComments('https://www.mobile01.com/topicdetail.php?f=18&t=5797944', title ,3)

In [169]:
#comments

In [170]:
last_page = int(soup.select('.l-navigation__item--min .c-pagination')[-1].text)
last_page

74

In [171]:
a = [1,2,3]
b = [2,3,4]
a + b

[1, 2, 3, 2, 3, 4]

In [172]:
comments_all = []
for p in range(1,3+1):
     comments_all =  comments_all + getPageComments('https://www.mobile01.com/topicdetail.php?f=18&t=5797944', title ,p)

In [174]:
#comments_all

## 取得所有評論

In [ ]:
def getPageComments(pageurl, title ,page):

    res = requests.get(pageurl + '&p={}'.format(page), headers = headers)

    soup = BeautifulSoup(res.text, 'lxml')
    comments_ary = []
    for comment in soup.select('.l-articlePage'):
        # 如果該篇文章存在
        if comment.select_one('.c-authorInfo__id a'):
            dic = {}
            dic['title'] = title
            dic['author']= comment.select_one('.c-authorInfo__id a').text.strip()
            dic['dt']    = comment.select_one('.o-fNotes.o-fSubMini').text
            dic['comment']= comment.select_one('article').text.strip()
            # 新增評論
            comments_ary.append(dic)
    return comments_ary

In [198]:
import requests
from bs4 import BeautifulSoup

headers = {
   'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}
pageurl = 'https://www.mobile01.com/topicdetail.php?f=18&t=5797944'

def getAllComments(pageurl):
    res = requests.get(pageurl, headers = headers)
    soup = BeautifulSoup(res.text, 'lxml')

    title = soup.select_one('.l-docking__title .t2').text
    last_page = 1
    if soup.select('.l-navigation__item--min .c-pagination'):
        last_page = int(soup.select('.l-navigation__item--min .c-pagination')[-1].text)

    comments_all = []
    for p in range(1,last_page+1):
         comments_all =  comments_all + getPageComments(pageurl, title ,p)
    return comments_all

In [199]:
allcomments = getAllComments('https://www.mobile01.com/topicdetail.php?f=18&t=6211826')

In [200]:
len(allcomments)

15

## 完整抓取所有評論

In [201]:
import requests
from bs4 import BeautifulSoup
headers = {
   'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}
res = requests.get('https://www.mobile01.com/topiclist.php?f=18', headers = headers)
soup = BeautifulSoup(res.text, 'lxml')

In [202]:
domain = 'https://www.mobile01.com/'
comments_total = []
for link in soup.select('.c-listTableTd__title .u-ellipsis'):
    #print(domain + link.get('href'))
    comments_total = comments_total + getAllComments(domain + link.get('href'))
    break

In [203]:
#comments_total

## 練習題
- 請修改上面程序，讓爬蟲能夠抓取多頁列表的所有主題內容？

In [ ]:
https://www.mobile01.com/topiclist.php?f=18
https://www.mobile01.com/topiclist.php?f=18&p=2

In [204]:
forumurl = 'https://www.mobile01.com/topiclist.php?f=18'
for p in range(1,6):
    print(forumurl + '&p={}'.format(p))

https://www.mobile01.com/topiclist.php?f=18&p=1
https://www.mobile01.com/topiclist.php?f=18&p=2
https://www.mobile01.com/topiclist.php?f=18&p=3
https://www.mobile01.com/topiclist.php?f=18&p=4
https://www.mobile01.com/topiclist.php?f=18&p=5

In [210]:
import requests
from bs4 import BeautifulSoup
headers = {
   'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36' 
}
forumurl = 'https://www.mobile01.com/topiclist.php?f=18'
domain = 'https://www.mobile01.com/'
def getForumComments(forumurl):
    comments_total = []
    for p in range(1,2):
        res = requests.get(forumurl + '&p={}'.format(p), headers = headers)
        soup = BeautifulSoup(res.text, 'lxml')
        for link in soup.select('.c-listTableTd__title .u-ellipsis')[0:5]:
            comments_total = comments_total + getAllComments(domain + link.get('href'))
    return comments_total

In [211]:
forumComments = getForumComments('https://www.mobile01.com/topiclist.php?f=18')

In [213]:
#forumComments

## Pandas

In [214]:
users =  [{'name': 'david', 'age': 18}, {'name': 'qoo', 'age':12}]

In [215]:
import pandas
df = pandas.DataFrame(users)

In [216]:
df

    name  age
0  david   18
1    qoo   12

In [217]:
import pandas
comments_df = pandas.DataFrame(forumComments)

In [219]:
comments_df.head()

,title,author,dt,comment
0,台灣之星月租1199元 舊換新 0元換iPhone 12,MarilynCastle,2020-10-16 14:50,https://ec.ltn.com.tw/article/breakingnews/332...
1,台灣之星月租1199元 舊換新 0元換iPhone 12,咖啡只加糖,2020-10-16 16:35,1. 等雙11 看有沒有跟去年一樣的 599 0元入手\n2.單門號188 +空機
2,遠傳iPhone 12資費出爐 月租999起跳,ElterRun,2020-10-16 12:27,遠傳iPhone 12資費出爐 月租999起跳\n\n\n\n遠傳今日公布iPhone 12...
3,遠傳iPhone 12資費出爐 月租999起跳,grason00,2020-10-16 12:59,最少要綁約3年...還有綁約4年的\n綁約越來越久了
4,遠傳iPhone 12資費出爐 月租999起跳,小黑3428,2020-10-16 13:15,grason00 wrote:\n最少要綁約3年...(恕刪)\n\n\n如果能夠0元帶回家...

In [220]:
comments_df.to_excel('mobile01.xlsx')

In [221]:
! open mobile01.xlsx

In [222]:
topic_ary = getAllComments('https://www.mobile01.com/topicdetail.php?f=18&t=5797944')

In [223]:
topic_ary[0:3]

[{'title': '台哥大299吃到飽留客方案!',
  'author': '阿智1517',
  'dt': '2019-05-20 13:38',
  'comment': '原本是用台哥大499 2年合約\n\n合約到期日只剩一個禮拜! 本來想這陣子NP去中華\n\n後來剛剛接到台哥大來電 說今天是520特殊節日 用299就可以上網吃到飽\n\n\n\n299網速無限速 網內通話前5分鐘免費 網外送30分鐘 市話沒送要另計費\n\n合約綁一年!'},
 {'title': '台哥大299吃到飽留客方案!',
  'author': 'navy95',
  'dt': '2019-05-20 13:46',
  'comment': '啥?獲利王想開了? 上週電消都在324-349之間\n看來台星299有殺到一些吧 語音也送的夠多\n搶先不常打市話到可行'},
 {'title': '台哥大299吃到飽留客方案!',
  'author': 'jackc3697',
  'dt': '2019-05-20 13:48',
  'comment': '也接到了，是原本499，每個月補貼200變299，只有1年約!!'}]

In [224]:
topic_df = pandas.DataFrame(topic_ary)

In [225]:
topic_df.head()

,title,author,dt,comment
0,台哥大299吃到飽留客方案!,阿智1517,2019-05-20 13:38,原本是用台哥大499 2年合約\n\n合約到期日只剩一個禮拜! 本來想這陣子NP去中華\n\...
1,台哥大299吃到飽留客方案!,navy95,2019-05-20 13:46,啥?獲利王想開了? 上週電消都在324-349之間\n看來台星299有殺到一些吧 語音也送的...
2,台哥大299吃到飽留客方案!,jackc3697,2019-05-20 13:48,也接到了，是原本499，每個月補貼200變299，只有1年約!!
3,台哥大299吃到飽留客方案!,cust123456789,2019-05-20 14:02,1小時前也接到電話...\n我是同意讓他綁一年啦....
4,台哥大299吃到飽留客方案!,sixcash,2019-05-20 14:04,"我也接到了,還有3個月2年約合約才到期,原本499吃到飽,\n可以提早續約299 綁約一年,..."

In [227]:
len(topic_df)

740

In [228]:
len(topic_df[topic_df['comment'].str.contains('台哥大')])

226

In [229]:
len(topic_df[topic_df['comment'].str.contains('遠傳')])

73

In [230]:
len(topic_df[topic_df['comment'].str.contains('中華')])

67

## 將資料存入到資料庫中

In [231]:
import sqlite3 
with sqlite3.connect('comments.sqlite') as con:
    topic_df.to_sql('mobile01_comments', con= con)

In [233]:
import sqlite3 
with sqlite3.connect('comments.sqlite') as con:
    df2 = pandas.read_sql_query('select * from mobile01_comments limit 3', con= con)

In [234]:
df2

,index,title,author,dt,comment
0,0,台哥大299吃到飽留客方案!,阿智1517,2019-05-20 13:38,原本是用台哥大499 2年合約\n\n合約到期日只剩一個禮拜! 本來想這陣子NP去中華\n\...
1,1,台哥大299吃到飽留客方案!,navy95,2019-05-20 13:46,啥?獲利王想開了? 上週電消都在324-349之間\n看來台星299有殺到一些吧 語音也送的...
2,2,台哥大299吃到飽留客方案!,jackc3697,2019-05-20 13:48,也接到了，是原本499，每個月補貼200變299，只有1年約!!

## 591 租屋網

In [241]:
import requests
headers = {
  'Cookie': '__auc=00cfda7016ae4653031fbc4809e; _ga=GA1.3.452025852.1558609998; T591_TOKEN=dhpkd9mm88po4m14m7jfu3sv52; _fbp=fb.2.1558610004061.1211475366; is_new_index=1; is_new_index_redirect=1; __utma=82835026.452025852.1558609998.1566801170.1572601144.8; pt_28697119=uid=lyRMkppNvrACPo412FemhA&nid=0&vid=8EWTYzSWdP80BT9qC0FltA&vn=12&pvn=2&sact=1576573271044&to_flag=0&pl=Af0sEO7Vketzfmkgv4vKBw*pt*1576573271044; tw591__privacy_agree=1; lastSearchRequirement=a%3A14%3A%7Bs%3A4%3A%22type%22%3Bs%3A4%3A%22sale%22%3Bs%3A8%3A%22regionid%22%3Bi%3A4%3Bs%3A9%3A%22sectionid%22%3Bi%3A0%3Bs%3A4%3A%22kind%22%3Bi%3A0%3Bs%3A5%3A%22shape%22%3Bi%3A0%3Bs%3A4%3A%22room%22%3Bi%3A0%3Bs%3A4%3A%22area%22%3Bi%3A0%3Bs%3A9%3A%22cartplace%22%3Bi%3A0%3Bs%3A9%3A%22balcony_1%22%3Bi%3A0%3Bs%3A3%3A%22pet%22%3Bi%3A0%3Bs%3A4%3A%22cook%22%3Bi%3A0%3Bs%3A4%3A%22role%22%3Bi%3A0%3Bs%3A8%3A%22newfloor%22%3Bi%3A0%3Bs%3A8%3A%22houseage%22%3Bi%3A0%3B%7D; ba_cid=a%3A5%3A%7Bs%3A6%3A%22ba_cid%22%3Bs%3A32%3A%229aa4d4a0ca2b9ce63a23ccd37be07bdb%22%3Bs%3A7%3A%22page_ex%22%3Bs%3A55%3A%22https%3A%2F%2Fwww.591.com.tw%2FnewCommunity-sale.html%3Fcid%3D77731%22%3Bs%3A4%3A%22page%22%3Bs%3A55%3A%22https%3A%2F%2Fwww.591.com.tw%2FnewCommunity-index.html%3Fcid%3D1356%22%3Bs%3A7%3A%22time_ex%22%3Bi%3A1590132961%3Bs%3A4%3A%22time%22%3Bi%3A1590133528%3B%7D; user_index_role=1; user_browse_recent=a%3A5%3A%7Bi%3A0%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A1%3Bs%3A7%3A%22post_id%22%3Bs%3A7%3A%229661301%22%3B%7Di%3A1%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A1%3Bs%3A7%3A%22post_id%22%3Bs%3A7%3A%229653887%22%3B%7Di%3A2%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A1%3Bs%3A7%3A%22post_id%22%3Bs%3A7%3A%229624854%22%3B%7Di%3A3%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A7939357%3B%7Di%3A4%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A1%3Bs%3A7%3A%22post_id%22%3Bs%3A7%3A%229611149%22%3B%7D%7D; webp=1; PHPSESSID=qu9hqh9pt9f1avb84111aa1v16; urlJumpIp=1; urlJumpIpByTxt=%E5%8F%B0%E5%8C%97%E5%B8%82; new_rent_list_kind_test=1; c10f3143a018a0513ebe1e8d27b5391c=1; _gid=GA1.3.2128184859.1602839200; _ga=GA1.4.452025852.1558609998; _gid=GA1.4.2128184859.1602839200; _dc_gtm_UA-97423186-1=1; _gat_UA-97423186-1=1; XSRF-TOKEN=eyJpdiI6IjYwTnRuXC9BUTYySjRrd3BFUlIyM3pBPT0iLCJ2YWx1ZSI6InI5K1RcL0RtN3pTYjEyNmdcL3JxUlU2RGFnZlgya0pXSFdnTzBZZnNYRTR2TDZOTzErRHUzbTdDVXR5Um1za1AwdCszVmxwY0RMSEl3WkU1WkZ0a2JUeVE9PSIsIm1hYyI6IjQ1OTBjZDc1OGM1Y2JlMDljYmFiNjY3NTQ2ZjA0MzdkMDkyMjI1NWQ1YjJmNTI5MjFmNGJlYWIwOGQwNGU0YjUifQ%3D%3D; 591_new_session=eyJpdiI6ImZMbExQV2Z5Uk5xdnJMMUFQakRIemc9PSIsInZhbHVlIjoiTk9BblpyWXdOSEIzUG1Jd1hQK0pQSFJadUhCb3JKRzV3TjRTWWFSb1pQTnVxOEk3a0NlRzZoVmRteFdVa09VWXcwWVY3RFY3Nk94YmxUMXJBeUc2TXc9PSIsIm1hYyI6ImYxZTU4YzY0NWVmMTM3NmFmN2JiZjgwYzkyMmY5YWQ5ZTQ2ZGE2YzA3Zjg4NTdmZTJmODRjNjA2YzA3MWVkMDAifQ%3D%3D',  
  'Referer': 'https://rent.591.com.tw/?kind=1&region=1&section=5', 
  'X-CSRF-TOKEN': 'rHa5a51dJdC5lN4N5v3ihqKB9eM7YPGZu2svg0Pq',
  'X-Requested-With': 'XMLHttpRequest'  ,
  'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36'  
}
res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=30&totalRows=851', headers = headers)
jd = res.json()

In [250]:
#jd['data']['data']

In [ ]:
https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=60&totalRows=852
https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=90&totalRows=852

In [244]:
import math
math.ceil(852 / 30 )

29

In [251]:
import pandas
house_ary = []
for i in range(0, math.ceil(852 / 30 )):
    res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow={}&totalRows=851'.format(i * 30), headers = headers)
    jd = res.json()
    df = pandas.DataFrame(jd['data']['data'])
    house_ary.append(df)

In [253]:
len(house_ary)

29

In [256]:
house_df = pandas.concat(house_ary)

In [257]:
len(house_df)

852

In [259]:
house_df = house_df[['address', 'floor', 'allfloor', 'layout','area', 'price','browsenum_all']]

In [260]:
house_df.head()

           address  floor  allfloor  layout  area    price  browsenum_all
0  敦化南路二段81巷信義安和..      1         5  2房2廳1衛  20.0   40,000           1721
1  仁愛路四段300巷仁愛延吉..      3         7  2房1廳1衛  19.0   41,000           1054
2     仁愛路四段48巷仁愛..      2         4  3房2廳2衛  36.0   45,000           1975
3   建國南路一段全新裝潢近北..      4        12  3房2廳2衛  34.0   59,000            736
4   仁愛路三段住商信義安和店..     13        28  3房2廳4衛  88.8  400,000           1688

In [261]:
house_df['price'] = house_df['price'].map(lambda e: int(e.replace(',','')) )

/Users/davidchiu/.pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [263]:
house_df.sort_values('price', ascending = False)

              address  floor  allfloor  layout   area   price  browsenum_all
8    仁愛路三段👑高樓景觀豪宅👑優..     13        28  3房2廳4衛  176.0  400000            408
25   仁愛路三段仲介費八折●仁愛帝..     13        28  4房2廳4衛  176.0  400000            491
3       仁愛路三段帝寶景觀頂級豪宅     13        28  4房2廳4衛   81.4  400000            153
26   仁愛路三段帝寶重新裝潢_我成..     13        28  3房2廳4衛  176.2  400000            541
4      仁愛路三段住商信義安和店..     13        28  3房2廳4衛   88.8  400000           1688
..                ...    ...       ...     ...    ...     ...            ...
23  復興南路二段151巷成功國宅旁..      4         4  2房0廳1衛   12.0   18000           2360
13  和平東路二段96巷@科技大樓分..      5         5   開放式格局    5.0   16000            225
16      通化街101巷透天二樓出租      2         3  2房1廳1衛   12.0   16000           1657
26  光復南路676巷近通化夜市、捷..    100         4  1房1廳1衛   16.5   13000            979
11  通化街123巷通化街近信義安和..      4         4  1房2廳1衛   24.0    7000            820

[852 rows x 7 columns]

In [265]:
house_df['unit_price'] = house_df['price'] / house_df['area']

/Users/davidchiu/.pyenv/versions/3.7.3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [266]:
house_df.sort_values('unit_price', ascending = False)

,address,floor,allfloor,layout,area,price,browsenum_all,unit_price
9,新生南路三段11巷§旺德美客§..,6,7,2房2廳2衛,15.0,76000,71,5066.666667
0,建國南路一段捷運大安森林公園..,5,14,開放式格局,6.6,33000,241,5000.000000
3,仁愛路三段帝寶景觀頂級豪宅,13,28,4房2廳4衛,81.4,400000,153,4914.004914
4,仁愛路三段住商信義安和店..,13,28,3房2廳4衛,88.8,400000,1688,4504.504505
10,市民大道三段★高樓景觀名邸★..,22,23,3房2廳2衛,56.0,250000,276,4464.285714
...,...,...,...,...,...,...,...,...
17,臨江街2巷信義安和、101雙捷..,5,5,2房1廳1衛,23.0,18000,565,782.608696
27,新生南路一段157巷大安林..,4,5,4房2廳2衛,50.0,35000,421,700.000000
2,新生南路一段157巷大安林..,4,5,4房2廳2衛,50.0,35000,421,700.000000
16,辛亥路三段157巷大安國小頂家,5,5,4房2廳2衛,50.0,33000,879,660.000000
11,通化街123巷通化街近信義安和..,4,4,1房2廳1衛,24.0,7000,820,291.666667

In [267]:
house_df['unit_price'].median()

1631.5577194549278

## 回家練習題
-  請抓取自由時報即時新聞 (https://news.ltn.com.tw/list/breakingnews) 的標題、連結與時間

In [270]:
import requests
res = requests.get('https://rent.591.com.tw/?kind=1&region=1&section=5')
#res.text